{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/loginstyles.css' %}"/>
    <title>Activity Tracker Login</title>
</head>
<body>
    <div class="main" style="background-image: url({% static 'images/back.png' %});">
        <div class="content">
            <div class="para">
                <div class="about">
                    <h1>Activity Tracker</h1>
                <p>With more competitive than ever before, people have to manage time better in order to gain an advantage. The more work they do in the shortest amount of time, the faster they can grow. One way to boost productivity is through time tracking.</p>
                </div>
                <div class="quote">
                    <p class="statement">"The bad news is time flies. The good news is you're the pilot."</p><br>
                    <p class="author">- MICHAEL ALTSHULER</p>
                </div>
            </div>
            <div class="login">
                <h1>Hello!</h1>
                <p>Please Sign To Track Your Activity</p>
                <form action="" method="POST">
                    {%csrf_token %}
                    <input type="email" name="email" placeholder="Email"/><br>
                    <input type="password" name="password" placeholder="Password"/><br>
                    <button type="submit" onclick="redirect()">Login</button>
                </form>
                <div id="msg">{% for message in messages%}
                    <h3>
                            {{message}}
                    </h3>
                    {% endfor %}
                </div>
                <div class="register">
                    <p>Not Registered?</p>
                    <a href="../useraccount/register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function redirect(){
            window.location.href='../home'
        }
    </script>
</body>
</html>